/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/

[help-tooltip].toolbar-help-highlighted {
  box-shadow: inset 0px 0px 30px 30px rgb(200, 255, 187),
    0px 0px 40px 0px rgb(200, 255, 187);
  :hover {
    box-shadow: inset 0px 0px 30px 30px rgba(200, 255, 187, 0.8),
      0px 0px 40px 0px rgba(200, 255, 187, 0.8);
  }
}

.toolbar-help-window {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 180px;
  bottom: 75px;
  background: #eeffed;
  width: 80%;
  border-radius: 8px;
  border-color: green;
  border: 2px solid;
  transition: 0.5s linear all;
  opacity: 1;
  div {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

.toolbar-help-window.ng-hide {
  opacity: 0;
}

.help-title {
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
}

.help-text {
  font-size: medium;
}

.help-text.pre {
  white-space: pre-line;
}
.help-text.prewrap {
  white-space: pre-wrap;
}

.description-window {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  max-height: 70%;
  background: #d7efff;
  width: 80%;
  border-radius: 8px;
  border-color: blue;
  border: 2px solid;
  transition: 0.5s linear all;
  opacity: 1;
  div {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

.description-window.ng-hide {
  opacity: 0;
}

.show-tips-button {
  font-size: 10px;
  cursor: pointer;
  color: #fbffdb;
  background-color: #3f6686;
  border-radius: 5px;
  width: 70px;
  height: 23px;
  margin: 5px;
  margin-right: 1px;
  position: absolute;
  right: 2px;
  z-index: 100;
}
