
<button class="btn btn-default btn-md"
        owner-only
        ng-click="save()" ng-disabled="stateMachines.length === 0">
 <i class="glyphicon glyphicon-download"></i><span> Download</span>
</button>
<button class="btn btn-default btn-md"
        owner-only
        type="file"
        ngf-select="loadStateMachine($file)" accept=".exd"
        ng-disabled="stateService.statePending">
  <i class="glyphicon glyphicon-upload"></i><span> Upload</span>
</button>
