<!-- build:css(.tmp) styles/esv/brainvisualizer.css -->
<link rel="stylesheet" href="components/brain-visualizer/brain-visualizer.style.css" />
<!-- endbuild -->

<div class="esv-brainvisualizer-wrapper">

    <div class="esv-brainvisualizer-main">
        <span ng-show="initializing" class="esv-brainvisualizer-initializing">Initializing<br>
            <i class="fa fa-spinner fa-spin"></i>
        </span>
    </div>

    <div class="esv-brainvisualizer-ui">

        <div class="esv-brainvisualizer-box">

            <div class="esv-brainvisualizer-box-title">
                Shape
            </div>

            <div ng-repeat="shape in shapes track by $index" style="padding-bottom:1px">

                <label class="esv-brainvisualizer-radio-label">
                <input class="esv-brainvisualizer-radio" type="radio"
                    ng-model="currentValues.currentShape" ng-value="shape" ng-change="setShape(shape)">{{shape}}</label>

            </div>

            <div style="padding-bottom:1px;position: relative;" >
                <label class="esv-brainvisualizer-radio-label" ng-style="{'color':!!userFile || 'gray'}">
                <input class="esv-brainvisualizer-radio" type="radio" ng-disabled="!userFile"
                    ng-model="currentValues.currentShape" ng-value="BRAIN3D.REP_SHAPE_USER" ng-change="setShape(BRAIN3D.REP_SHAPE_USER)">Custom</label>

                <div type="button"
                    ng-if="!userFile && brain3D"
                    style="padding: 1px 12px;display:inline-block;font-size:10px;width: auto;margin-left:12px; margin-top:1px;position:absolute;"
                    class="btn btn-default esv-brainvisualizer-pop-button-down"
                    ng-click='exportNeuronsPositions();'>
                    Save
                </div>

            </div>


        </div>

        <div class="esv-brainvisualizer-box" ng-hide="settings.userCoordMode">

            <div class="esv-brainvisualizer-box-title">
                Distribution
            </div>

            <div ng-repeat="dist in distributions track by $index" style="padding-bottom:1px">

                <label class="esv-brainvisualizer-radio-label">
                <input class="esv-brainvisualizer-radio" type="radio"
                    ng-model="currentValues.currentDistribution" ng-value="dist" ng-change="setDistribution(dist)">{{dist}}</label>

            </div>

        </div>

        <div class="esv-brainvisualizer-box">

            <div class="esv-brainvisualizer-box-title">
                Display
            </div>

            <div ng-repeat="display in displays track by $index" style="padding-bottom:1px">

                <label class="esv-brainvisualizer-radio-label">
                <input class="esv-brainvisualizer-radio" type="radio"
                    ng-model="currentValues.currentDisplay" ng-value="display" ng-change="setDisplay(display)">{{display}}</label>

            </div>

        </div>

        <div class="esv-brainvisualizer-box">

            <div class="esv-brainvisualizer-box-title">
                Spike Constrast
            </div>

            <div>

                <input type="range" ng-change="updateSpikeScaler()" ng-model="currentValues.spikeScaler" step="0.01" min="0" max="1.0" ng-mouseup="$event.stopPropagation(); focus('container');"
                    class="esv-brainvisualizer-slider" />

            </div>

        </div>

        <div class="esv-brainvisualizer-box" ng-hide="!currentValues.displayColorMaps">

            <div class="esv-brainvisualizer-box-title">
                Colors
            </div>

            <div ng-repeat="color in colorMaps track by $index" style="padding-bottom:1px">

                <label class="esv-brainvisualizer-radio-label">
                            <input class="esv-brainvisualizer-radio" type="radio"
                                ng-model="currentValues.currentColorMap" ng-value="color" ng-change="setColorMap(color)">{{color}}</label>

            </div>

        </div>


        <div class="esv-brainvisualizer-box" ng-hide="settings.userColorsMode">

            <div class="esv-brainvisualizer-box-title">
                Populations
            </div>

            <div ng-repeat="pop in populations" style="padding-bottom:1px">

                <div type="button" ng-class="{btn:true,'btn-default':true, 'esv-brainvisualizer-pop-button':!pop.visible,
                                                'esv-brainvisualizer-pop-button-down':pop.visible}" ng-click='togglePopulationVisibility(pop);'>

                    <div class="esv-brainvisualizer-button-colorsquare" style="background-color: {{pop.visible?pop.color:'#eeeeee'}};"></div>

                    <div class="esv-brainvisualizer-button-label">
                        {{pop.name}}
                    </div>

                </div>
            </div>

        </div>

        <div class="esv-brainvisualizer-box">
            <button type="button" class="btn btn-default"
                style="width: 100%;"
                ng-click="saveSettings()"
                owner-only
                ng-disabled="!isPrivateExperiment">
                <i class="glyphicon glyphicon-download"></i>
                <span>Save Settings</span>
            </button>
        </div>

    </div>

</div>