/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/
@import '../../styles/esv/pop-over-viewer';

$environmentSettingsPanelStartWidth: 750px;
$environmentSettingsPanelStartWidthLargeScreen: 750px;
$environmentSettingsPanelStartHeight: 670px;
$environmentSettingsPanelMinWidth: 467px;
$environmentSettingsPanelMinHeight: 200px;
$environmentSettingsPanelHeadingHeight: 25px;
$environmentSettingsPanelHeadingMargin: 5px;
$environmentSettingsPanelHeadingHeightTotal: $environmentSettingsPanelHeadingHeight +
  2 * $environmentSettingsPanelHeadingMargin;

.environment-settings-panel-widget {
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    background: transparent;
  }

  @extend .pop-over-viewer;
  display: flex;
  top: 3%;
  left: 3%;
  width: $environmentSettingsPanelStartWidth;
  height: $environmentSettingsPanelStartHeight;
  min-width: $environmentSettingsPanelMinWidth;
  min-height: $environmentSettingsPanelMinHeight;
  background: rgba(255, 255, 255, 0.9);

  .environment-settings-panel-close {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .environment-settings-panel-header {
    position: absolute;
    width: 80%;
    width: calc(100% - 50px);
    height: $environmentSettingsPanelHeadingHeight;
    margin: $environmentSettingsPanelHeadingMargin;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #e1e1e1;
    background: #f8f8f8;
  }

  .environment-settings-panel-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 43px;
    margin: 0;
    background: #f8f8f8;
  }

  .environment-settings-panel-bottom_buttons {
    position: absolute;
    right: 15px;
    padding: 5px 5px 5px 5px;
  }

  .environment-settings-panel-title {
    padding-left: 10px;
    margin: $environmentSettingsPanelHeadingMargin;
  }

  .environment-settings-panel-content {
    overflow: auto;
    width: 100%;
    padding: 20px;
    margin: $environmentSettingsPanelHeadingHeightTotal 0 0 0;
    height: calc(100% - 78px);
  }

  .button-close {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

@media (min-width: 1024px) {
  .environment-settings-panel-widget {
    width: $environmentSettingsPanelStartWidthLargeScreen;
  }
}
/* http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
.noselect {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

input.environment-settings-checkbox[type='checkbox'],
input.environment-settings-radio[type='radio'] {
  top: -2px;
}

.environment-settings-checkbox-label {
  font-style: normal;
  font-weight: normal;
  font-family: Courier, monospace;
  font-size: 15px;
}

.environment-settings-checkbox {
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  right: 5px;
}

environment-settings-panel label {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Gotham', sans-serif;
}

.environment-settings-panel-disabled-label {
  color: gray;
}

.environment-settings-option-subblock {
  margin: 10px 50px 10px 10px;
}

.environment-settings-textfield {
  width: 60px;
}

.esv-envsettings-slider {
  vertical-align: top;
  left: 5px;
  padding: 0px;
}

.environment-settings-hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #dddddd;
}

input[type='range'] {
  display: inline;
  width: 200px;
  margin: 0px 20px 0px 5px;
}
