/**---LICENSE-BEGIN - DO NOT CHANGE OR MOVE THIS HEADER
 * This file is part of the Neurorobotics Platform software
 * Copyright (C) 2014,2015,2016,2017 Human Brain Project
 * https://www.humanbrainproject.eu
 *
 * The Human Brain Project is a European Commission funded project
 * in the frame of the Horizon2020 FET Flagship plan.
 * http://ec.europa.eu/programmes/horizon2020/en/h2020-section/fet-flagships
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 * ---LICENSE-END**/

.environment-list-container {
  padding-left: 10px;
  padding-top: 10px;
  flex-direction: column;
  overflow-y: auto;
  margin-left: 10px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #dde4ec;
}

.private-tag {
  width: 43px;
  height: 18px;
  background: #d25c2b;
  color: white;
  border-radius: 4px;
  margin-left: 4px;
  margin-top: 4px;
  padding: 2px;
  font-size: 11px;
}

.public-tag {
  width: 40px;
  height: 18px;
  background: #3679b6;
  color: white;
  border-radius: 4px;
  margin-left: 4px;
  margin-top: 4px;
  padding: 2px;
  font-size: 11px;
}

.env-title {
  font-size: 14px;
  padding: 5px;
  padding-left: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d4dae0;
  background: white;
  color: #5d5d5d;
}

.envGroupSeparator {
  font-size: 13px;
  text-align: right;
  color: #45729a;
  background: linear-gradient(to right, #ffffff 0%, #f0f7ff 50%, #f4faff 100%);
  padding-left: 0;
  padding-right: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  font-style: italic;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d3e2f1;
}
