<div class="container-with-navbar-margin">
    <div class="list-container">
        <button type="button" class="close" ng-click="destroyDialog()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        <div class="list-entry-container left-right title-line">
            <div class="h3">Select {{entityName}} </div>
        </div>
        <hr class="list-separator">
        <div>
            <label for="file">Choose {{entityName}} zip to upload</label>
            <input type="file" id="file" name="file" accept=".zip">
        </div>

        <div>
            {{entityName}}
            {{entity.description}}
        </div>>
        <!--button type="button" class="btn btn-success btn-s" ng-click="">
          <input id="file-input" type="file" name="name" style="display: none;" />
          <span class="glyphicon glyphicon-upload"></span> Upload all
        </button>
        <button type="button" class="btn btn-warning btn-s" ng-click="">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </button>
        <button type="button" class="btn btn-danger btn-s" ng-click="">
          <span class="glyphicon glyphicon-trash"></span> Remove all
        </button-->
        <br>
        <br>
        <div align="left">
            <button class="btn btn-success btn-s" ng-click="uploadModelZip()"
                style="margin-left:20px;">Submit
            </button>
        </div>
        <div align="right">
            <button class="btn btn-default enable-tooltip" ng-click="destroyDialog()"
                style="margin-right:20px;">Cancel
            </button>
        </div>
       <br>
    </div>
</div>