<!-- build:css(.tmp) styles/esv/esv-web.css -->
<link rel="stylesheet" href="styles/esv/esv-web.css" />
<!-- endbuild -->

<application-top-toolbar></application-top-toolbar>

<div class="neuro-title-buttons cssloaded" style="visibility: hidden">
  <div ng-click="showTips()" ng-show="tipTooltipService.someTipsAreHidden()" class="title-top-button">
    <i class="fa fa-info-circle title-top-button-icon"></i>
    Tips
  </div>
</div>

<div class="container-with-navbar-margin cssloaded" style="visibility: hidden;display: flex; flex-direction: column;">

  <div style="display: flex; justify-content: space-between; max-height: 65px;flex-shrink: 0;">

    <div class="underlined-tab-area">

      <div class="underlined-tab" ng-click="tabChanged('MyExperiments')">
        <div ng-class="{'underlined-tab-selected':tabSelection=='MyExperiments'}">
          My experiments
        </div>
        <div ng-show="tabSelection=='MyExperiments'" class="underlined-box"></div>
      </div>

      <div ng-class="{'underlined-tab':devMode,'underlined-tab-disabled':!devMode}" ng-click="(devMode)?tabChanged('NewExperiment'):null">
        <div ng-class="{'underlined-tab-selected':tabSelection=='NewExperiment' && devMode}">
          New experiment
        </div>
        <div ng-show="tabSelection=='NewExperiment'" class="underlined-box"></div>
      </div>

      <div class="underlined-tab" ng-click="tabChanged('ExperimentFiles')">
        <div ng-class="{'underlined-tab-selected':tabSelection=='ExperimentFiles'}">
          Experiment files
        </div>
        <div ng-show="tabSelection=='ExperimentFiles'" class="underlined-box"></div>
      </div>

      <div class="underlined-tab" ng-click="tabChanged('CloneExperiment')">
        <div ng-class="{'underlined-tab-selected':tabSelection=='CloneExperiment'}">
          Templates
        </div>
        <div ng-show="tabSelection=='CloneExperiment'" class="underlined-box"></div>
      </div>

      <div class="underlined-tab" ng-click="tabChanged('RunningExperiments')">
        <div ng-class="{'underlined-tab-selected':tabSelection=='RunningExperiments'}">
          Running simulations
        </div>
        <div ng-show="tabSelection=='RunningExperiments'" class="underlined-box"></div>
      </div>

    </div>

    <div ng-show="tabSelection!=='ExperimentFiles'">
      <div style="display:flex; position: relative;">
        <i class="fa fa-search" style="margin-top: 20px; margin-right: 5px;"></i>
        <input ng-model="query" style="width:auto;margin-top: 15px;font-size: 11px;  height: 25px;" type="text" class="top-buttons form-control input-sm"
          placeholder="Filter...">
        <i ng-click="query =''" ng-show="query && query.length" class="fa fa-times-circle" style="    margin-top: 20px;
        margin-left: 2px;
        margin-right: 6px;
        font-size: 15px;
        position: absolute;
        right: 4px;
        cursor:pointer"></i>
      </div>
    </div>

  </div>

  <hr style="margin-bottom: 3px; margin-top: 2px; width: 100%; margin-right:10px; margin-bottom:15px;">

  <div ng-if="tabSelection!='NewExperiment'" style="flex-shrink: 1;flex-grow:1;overflow-y: auto; flex-basis: 0;">
    <experiment-list ng-if="tabSelection=='MyExperiments' && showMyExperiments" query="query" experiment-empty="experimentEmpty()"
      reinit="reloadMyExperiments()" running="false" private="true">
    </experiment-list>

    <div ng-if="tabSelection=='MyExperiments'" style="display: flex;justify-content: flex-end;margin-bottom:10px;padding-right: 20px;">
        <a href="http://neurorobotics.net/nrpPrivacy.html">Privacy Policy</a>
    </div>

    <div ng-if="tabSelection=='ExperimentFiles'" style="height: 100%;">
      <experiment-explorer></experiment-explorer>
    </div>

    <experiment-list ng-if="tabSelection=='CloneExperiment'" query="query" running="false" experiment-empty="experimentEmpty()"
      private="false" load-private-experiments="reloadMyExperiments()"></experiment-list>

    <experiment-list ng-if="tabSelection=='RunningExperiments' && showMyExperiments" experiment-empty="experimentEmpty()" query="query"
      reinit="reloadMyExperiments()" running="true" private="true"></experiment-list>

  </div>

  <div ng-if="tabSelection=='NewExperiment'" style="flex-shrink: 1;flex-grow:1;overflow-y: auto;">

        <new-experiment></new-experiment>

    </div>


</div>