<!-- build:css(.tmp) styles/esv/experiment-view.css -->
<link rel="stylesheet" href="styles/esv/experiment-view.css"/>
<!-- endbuild -->

<div id="experiment-view">

  <application-top-toolbar></application-top-toolbar>

  <sim-tools-sidebar></sim-tools-sidebar>

  <div class="editor-display">
    <div id="experiment-view-backdrop">
      <environment-rendering></environment-rendering>
    </div>

    <log-adverts></log-adverts>

    <editor-panel></editor-panel>

    <environment-settings-panel></environment-settings-panel>

    <video-stream-generator ng-show="showVideoStreams"></video-stream-generator>

    <!-- Alert popup -->
    <div class="alert alert-warning ng-hide" style=" z-index: 999;  position: fixed;  width: 100%;"
         ng-show="vm.userContextService.isJoiningStoppedSimulation && !vm.userContextService.demoMode">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      Sorry, the simulation you just wanted to join is already stopped.

      <button class="btn btn-warning btn-xs pull-right" ng-click="vm.exitSimulation()">&times;</button>
    </div>

    <div class="ros-reconnecting" on-reconnect-timeout="vm.exit()"></div>

    <simulation-timeout-extender
      extent-auto-condition="{{vm.simulationInfo.simTimeoutText < vm.simulationInfo.simMaxAutoTimeOutText}}"
      extent-timeout-condition="{{vm.simulationInfo.simTimeoutText < vm.simulationInfo.simMaxTimeOutText}}"
      ng-if="vm.userContextService.isOwner()"></simulation-timeout-extender>

    <help-tooltip-popover></help-tooltip-popover>

    <div ng-show="vm.userNavigationService.navigationMode==vm.NAVIGATION_MODES.LOOKAT" class="lookat-camera-message">
      <div style="margin-top: 2px; font-weight: 600; flex-grow: 1;">
        Look at "{{vm.userNavigationService.lookatControls.lookAtTarget.name}}"
      </div>

      <div ng-click="vm.exitLookatCameraMode()" class="lookat-camera-close">
        <i class="fa fa-times"></i>
      </div>
    </div>

    <div class="tip-tooltip-place">
      <tip-tooltip></tip-tooltip>
    </div>


  </div>


</div>
