<div class="experiment-box" id="newExpWizard" ng-mouseenter="isHovered = true" ng-mouseleave="isHovered = false" ng-mouseup="isHovered = false"
    ng-click="selectNewExperiment();">
    <div class="list-entry-container left-right" ng-class="{'selected-wizard': pageState.selected == newExperiment, 'hover-wizard':isHovered}">
        <!-- image div -->
        <div class="list-entry-left" ng-class="{selected: pageState.selected == newExperiment}">
            <img src="img/esv/newexp.png">
        </div>
        <!-- text mama div -->
        <div class="list-entry-middle list-entry-container up-down">
            <!-- title div -->
            <div class="list-entry-container left-right title-line">
                <div class="h4">Create New Experiment
                </div>
            </div>
            <!-- description div -->
            <div>Here you can create a new experiment from scratch. Choose your own custom environment, robot, and brain.</div>
            <br>
            <!-- when clicked div -->
            <div class="list-entry-buttons list-entry-container center" ng-if="pageState.selected == newExperiment">
                <!-- button group div -->
                <div class="btn-group" role="group">
                    <!-- env button -->
                    <button analytics-on analytics-event="uploadEnvironment" analytics-category="Experiment" class="btn btn-default"
                        ng-click="uploadEnvironmentDialog()" ng-disabled="pageState.startingExperiment == true">
                        <i ng-style="{'color':environmentUploaded? 'darkseagreen': ''}" ng-class="{true: 'fa fa-check', false:'fa fa-upload'}[environmentUploaded]"></i> Choose Environment
                        </button>
                        <!-- robot button -->
                        <button analytics-on analytics-event="uploadRobot" analytics-category="Experiment" class="btn btn-default"
                            ng-click="uploadRobotDialog()" ng-disabled="pageState.startingExperiment == true">
                            <i ng-style="{'color':robotUploaded? 'darkseagreen': ''}" ng-class="{true: 'fa fa-check', false:'fa fa-upload'}[robotUploaded]"></i> Choose Robot
                            </button>
                            <!-- brain button -->
                            <button analytics-on analytics-event="uploadBrain" analytics-category="Experiment" class="btn btn-default"
                                ng-click="uploadBrainDialog()" ng-disabled="pageState.startingExperiment == true">
                                <i ng-style="{'color':brainUploaded? 'darkseagreen': ''}" ng-class="{true: 'fa fa-check', false:'fa fa-upload'}[brainUploaded]"></i> Choose Brain
                                </button>
                                <br>
                                <br>
                                <!-- clone button -->
                                <div align="center">
                                     <div uib-collapse="!isCloneRequested">
                                         <div class="list-entry-container center">
                                            <i class="fa fa-spinner fa-spin"></i>&nbsp;
                                            <i>Copying files to the storage.This might take some time, so please be patient...</i>
                                         </div>
                                    </div>
                                    <div uib-collapse="!uploadingModel">
                                            <div class="list-entry-container center">
                                                <i class="fa fa-spinner fa-spin"></i>&nbsp;
                                                <i>Uploading model to the storage.This might take some time, so please be patient...</i>
                                            </div>
                                    </div>
                                    <button analytics-on analytics-event="CloneNewExperiment" ng-if="pageState.selected == newExperiment" ng-disabled="isCloneRequested || !environmentUploaded"
                                        class="btn btn-default enable-tooltip" ng-click="cloneNewExperiment('newExperiment')">
                                        <i class="fa fa-pencil"></i> Clone
                                        </button>
                                </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="list-separator">
</div>